<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="网站关键词">
    <meta name="Description" content="网站介绍">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/reg.css}">
</head>
<body>

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/agree.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/md5.js}"></script>

<div id="ajax-hook"></div>
<div class="wrap">
    <div class="wpn">
        <div class="form-data pos">
            <a href=""><img th:src="@{/img/logo.png}" class="head-logo"></a>
            <div class="change-login">
                <p class="account_number on">账号登录</p>
            </div>
            <div class="form1">
                <span th:text="${msg}"></span>
                <p class="p-input pos">
                    <label for="username">请输入用户名</label>
                    <input type="text" id="username">
                </p>
                <p class="p-input pos">
                    <label for="password">请输入密码</label>
                    <input type="password" id="password">
                </p>

            </div>

            <div class="r-forget cl">
                <a th:href="@{/reg}" class="z">账号注册</a>
<!--                <a th:href="@{/getpasswd}" class="y">忘记密码</a>-->
            </div>
            <button class="lang-btn off log-btn" onclick="submitLoginData()">登录</button>
            <div class="third-party">
<!--                <a href="#" class="log-qq icon-qq-round"></a>-->
                <a href="#" class="log-qq icon-qq"></a>
<!--                <a href="#" class="log-qq icon-sina1"></a>-->
            </div>
            <p class="right">Xuke's Graduation Project</p>
        </div>
    </div>
</div>

</body>
</html>